.supamenu.supamenu--full-screen,
.supamenu--full-screen {
  --supamenu-font-size: rfs(3rem);
  --supamenu-border-radius: rfs(1rem);
  --supamenu-text-transform: uppercase;
  --supamenu-font-weight: bold;
  --supamenu-container-max-width: calc(100% - 3rem);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  margin-top: 0;
  display: none;

  * {
    box-sizing: border-box;
  }

  &.supamenu--visible {
    display: block;
  }

  > * {
    padding: 2.5rem 3rem;
  }

  .spm-container {
    gap: 1.5rem;
    align-items: stretch;
  }

  .spm__block,
  .spm__block:first-child,
  .spm__block:last-child {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 1rem);
    padding: 1rem;
    border-radius: var(--supamenu-border-radius);
    transition: all 200ms ease;

    + .spm__block {
      margin-top: 1.5rem;
    }

    .spm__toggle-button {
      padding: 3rem;
      font-size: var(--supamenu-font-size);
      color: var(--supamenu-text-color);
      border-radius: var(--supamenu-border-radius);
      background: transparent;
      border: 1px solid var(--supamenu-border-color);

      .spm-icon--triangle {
        border-width: 12px 8px 0 8px;
      }

      [data-theme="dark"] &,
      .darkmode &,
      .supamenu--darkmode & {
        border: none;
        background: var(--supamenu-color-dark-500);

        &:hover {
          background: var(--supamenu-color-dark-700);
        }
      }

      + .spm__block__content {
        padding-top: 1rem;
      }
    }
    > .spm__block__content {
      display: none;
      background: transparent;

      .spm__block,
      .spm__block:first-child,
      .spm__block:last-child {
        flex: 1;
      }

      a {
        margin-bottom: rfs(1rem);
        &:after {
          content: "";
          display: block;
          width: 0;
          height: rfs(0.25rem);
          background: var(--supamenu-accent-color);
          transform-origin: left;
          transition: all 300ms ease;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }

    &.spm__block--visible,
    &.spm__block--always-visible {
      > .spm__block__content {
        display: block;
      }
    }
  }
}

@media (max-width: 1480px) {
  .supamenu.supamenu--full-screen,
  .supamenu--full-screen {
    --supamenu-font-size: 2rem;

    > * {
      padding: 1.5rem;
    }
  }
}

@media (max-width: 1080px) {
  .supamenu.supamenu--full-screen,
  .supamenu--full-screen {
    .spm-container {
      display: block !important;
    }

    > * {
      padding: 0 1.5rem;
    }

    .spm__block {
      margin-top: 1.5rem;
    }
  }
}
