.supamenu--off-canvas {
  @add-mixin off-canvas {
    .spm-component {
      + * {
        margin-top: 16px;
      }
    }

    &.supamenu--darkmode,
    &[data-theme="dark"],
    &.supamenu--darkmode:not(.supamenu--lightmode),
    &[data-theme="dark"]:not(.supamenu--lightmode) {
      background: var(--supamenu-darkmode-off-canvas-background) !important;

      .spm__block__content {
        background: var(--supamenu-darkmode-off-canvas-background);
      }
    }
  }
}

.supamenu-page {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;

  &.supamenu-page--menu-visible {
    transform: translateX(var(--supamenu-menu-width));
  }
}
