:root {
  --supamenu-menu-width: 300px;
  --supamenu-max-content-width: 1380px;
  --supamenu-z-index: 1000;

  // Colors
  --supamenu-accent-color: #2457f2;
  --supamenu-color-dark: #121212;
  --supamenu-color-dark-900: color-mix(
    in srgb,
    var(--supamenu-color-dark),
    #fff 5%
  );
  --supamenu-color-dark-800: color-mix(
    in srgb,
    var(--supamenu-color-dark),
    #fff 7%
  );
  --supamenu-color-dark-700: color-mix(
    in srgb,
    var(--supamenu-color-dark),
    #fff 8%
  );
  --supamenu-color-dark-600: color-mix(
    in srgb,
    var(--supamenu-color-dark),
    #fff 9%
  );
  --supamenu-color-dark-500: color-mix(
    in srgb,
    var(--supamenu-color-dark),
    #fff 11%
  );
  --supamenu-color-dark-400: color-mix(
    in srgb,
    var(--supamenu-color-dark),
    #fff 12%
  );
  --supamenu-color-dark-300: color-mix(
    in srgb,
    var(--supamenu-color-dark),
    #fff 14%
  );
  --supamenu-color-dark-200: color-mix(
    in srgb,
    var(--supamenu-color-dark),
    #fff 15%
  );
  --supamenu-color-dark-100: color-mix(
    in srgb,
    var(--supamenu-color-dark),
    #fff 16%
  );

  --supamenu-text-color: color-mix(
    in srgb,
    var(--supamenu-color-dark),
    #fff 16%
  );
}

.supamenu {
  --supamenu-font-family: inherit;
  --supamenu-font-size: rfs(0.875rem);
  --supamenu-font-weight: inherit;
  --supamenu-text-transform: none;
  --supamenu-background: #fff;
  --supamenu-border-color: color-mix(
    in srgb,
    var(--supamenu-background),
    #000 11%
  );
  --supamenu-border-radius: 0;
  --supamenu-image-border-radius: 16px;
  --supamenu-accent-color-dark: color-mix(
    in srgb,
    var(--supamenu-accent-color) 70%,
    var(--supamenu-color-dark-500)
  );
  --supamenu-accent-color-light: color-mix(
    in srgb,
    var(--supamenu-accent-color) 70%,
    #fff
  );
  --supamenu-scrollbar-color: rgba(0, 0, 0, 0.4);
  --supamenu-link-color: inherit;
  --supamenu-link-color-hover: var(--supamenu-accent-color);
  --supamenu-link-color-focus: color-mix(
    in srgb,
    var(--supamenu-accent-color) 70%,
    var(--supamenu-color-dark-500)
  );
  --supamenu-link-color-active: var(--supamenu-accent-color);
  --supamenu-focus-outline-color: var(--supamenu-accent-color);
  --supamenu-focus-outline-width: 3px;
  --supamenu-focus-outline-style: solid;
  --supamenu-focus-outline: var(--supamenu-focus-outline-width)
    var(--supamenu-focus-outline-style) var(--supamenu-focus-outline-color);
  --supamenu-icon-color: var(--supamenu-color-dark-800);
  --supamenu-toggle-button-background-color: transparent;
  --supamenu-mega-menu-dropdown-min-height: 400px;
  --supamenu-mega-menu-dropdown-width: 100%;

  --supamenu-modal-border: 1px solid var(--supamenu-border-color);
  --supamenu-modal-max-width: 800px;
  --supamenu-modal-width: calc(100vw - 32px);
  --supamenu-modal-height: calc(100vh - 32px);
  --supamenu-modal-max-height: 800px;

  --supamenu-off-canvas-background: var(--supamenu-background);
  --supamenu-off-canvas-link-color-active: color-mix(
    in srgb,
    var(--supamenu-link-color-active) 50%,
    var(--supamenu-text-color)
  );
  --supamenu-off-canvas-menu-box-shadow: none;
  --supamenu-off-canvas-menu-border-color: var(--supamenu-border-color);
  --supamenu-off-canvas-link-background-active: color-mix(
    in srgb,
    var(--supamenu-link-color-active) 15%,
    #fff
  );
  --supamenu-off-canvas-link-background-hover: color-mix(
    in srgb,
    var(--supamenu-off-canvas-link-background-active) 15%,
    #eee
  );
  --supamenu-off-canvas-link-background-active-hover: color-mix(
    in srgb,
    var(--supamenu-link-color-active) 30%,
    #fff
  );
  --supamenu-off-canvas-menu-link-border-radius: 10px;

  --supamenu-classic-navbar-height: 70px;
  --supamenu-classic-menu-border: 1px solid var(--supamenu-border-color);
  --supamenu-classic-menu-box-shadow: none;
  --supamenu-classic-menu-scrolled-box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.05);
  --supamenu-classic-menu-border-radius: 0;
  --supamenu-classic-menu-dropdown-border: 1px solid #eee;
  --supamenu-classic-menu-dropdown-border-radius: 0 0 16px 16px;
  --supamenu-classic-menu-dropdown-background: var(--supamenu-background);
  --supamenu-classic-modal-menu-border-radius: 16px;
  --supamenu-classic-menu-dropdown-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.05);
  --supamenu-classic-menu-dropdown-min-width: 220px;
  --supamenu-dropdown-distance: 0;
  --supamenu-container-max-width: var(--supamenu-max-content-width);
  --supamenu-classic-menu-dropdown-link-background-hover: transparent;

  // darkmode variables
  &[data-theme="dark"],
  &.darkmode,
  &.supamenu--darkmode {
    --supamenu-background: var(--supamenu-color-dark-600);
    --supamenu-border-color: color-mix(
      in srgb,
      var(--supamenu-background),
      #000 11%
    );
    --supamenu-off-canvas-background: var(--supamenu-color-dark-800);
    --supamenu-text-color: color-mix(
      in srgb,
      var(--supamenu-accent-color) 8%,
      #fff
    );

    --supamenu-icon-color: var(--supamenu-text-color);

    --supamenu-off-canvas-menu-border-color: color-mix(
      in srgb,
      var(--supamenu-color-dark) 85%,
      #000
    );

    --supamenu-link-color-hover: color-mix(
      in srgb,
      var(--supamenu-accent-color),
      #fff 40%
    );
    --supamenu-link-color-active: color-mix(
      in srgb,
      var(--supamenu-accent-color),
      #ffffff 20%
    );

    --supamenu-classic-menu-dropdown-background: var(--supamenu-color-dark-500);
    --supamenu-classic-menu-dropdown-border: 1px solid
      var(--supamenu-color-dark-200);

    --supamenu-toggle-button-background-color: color-mix(
      in srgb,
      var(--supamenu-background) 95%,
      var(--supamenu-accent-color-light)
    );

    --supamenu-toggle-button-background-color-hover: color-mix(
      in srgb,
      var(--supamenu-darkmode-toggle-button-background-color) 96%,
      #fff
    );

    --supamenu-link-color-focus: color-mix(
      in srgb,
      var(--supamenu-accent-color) 80%,
      #fff
    );

    --supamenu-off-canvas-link-color-active: color-mix(
      in srgb,
      var(--supamenu-link-color-active) 50%,
      var(--supamenu-link-color-hover)
    );

    --supamenu-scrollbar-color: rgba(255, 255, 255, 0.5);

    --supamenu-off-canvas-link-background-active: color-mix(
      in srgb,
      var(--supamenu-link-color-active) 30%,
      var(--supamenu-color-dark-800)
    );

    --supamenu-off-canvas-link-background-hover: var(--supamenu-color-dark-500);

    --supamenu-off-canvas-link-background-active-hover: color-mix(
      in srgb,
      var(--supamenu-off-canvas-link-background-active) 95%,
      #fff
    );
  }
}
