.supamenu.supamenu--classic,
.supamenu--classic {
  @add-mixin supamenu-base;

  --supamenu-toggle-button-background-color: transparent;

  &[data-theme="dark"],
  &.darkmode,
  &.supamenu--darkmode {
    --supamenu-toggle-button-background-color: transparent;
  }

  .spm-container {
    > :first-child {
      padding-left: 0;
    }

    > :last-child {
      padding-right: 0;
    }
  }

  .spm__block {
    ul li {
      &:hover {
        background: var(--supamenu-classic-menu-dropdown-link-background-hover);
      }
    }
  }

  @media (min-width: 1025px) {
    height: var(--supamenu-classic-navbar-height);
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border-bottom: var(--supamenu-classic-menu-border);
    position: relative;
    z-index: var(--supamenu-z-index);
    transform: translateY(0);
    border-radius: var(--supamenu-classic-menu-border-radius);
    box-shadow: var(--supamenu-classic-menu-box-shadow);

    &.supamenu--align-right {
      justify-content: flex-end;

      .spm-inner-container {
        justify-content: flex-end;
        margin-left: auto;
        .align-right {
          margin-left: 8px;
        }
      }
    }

    &.supamenu--align-left {
      justify-content: flex-start;

      .spm-inner-container {
        justify-content: flex-start;
        margin: auto;

        .align-left {
          margin-right: 8px;
        }
      }
    }

    &.supamenu--scrolled {
      box-shadow: var(--supamenu-classic-menu-scrolled-box-shadow);
    }

    .spm__block__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
    }

    &.supamenu--fixed {
      @add-mixin positioned-styles {
        position: fixed;
      }
    }

    &.supamenu--fixed--bottom {
      @add-mixin positioned-styles {
        position: fixed;
        bottom: 0;
        top: auto;

        --supamenu-classic-menu-dropdown-border-radius: 16px 16px 0 0;
      }
    }

    &.supamenu--sticky {
      @add-mixin positioned-styles {
        position: sticky;
      }
    }

    &.supamenu--sticky--bottom {
      @add-mixin positioned-styles {
        position: sticky;
        bottom: 0;
        top: auto;

        --supamenu-classic-menu-dropdown-border-radius: 16px 16px 0 0;
      }
    }

    &.supamenu--full-width {
      width: 100vw !important;
    }

    .spm-inner-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      max-width: var(--supamenu-container-max-width);
      margin: 0 auto;
      height: 100%;

      > .spm__block {
        position: relative;
        display: flex;
        height: 100%;

        &.spm__mega {
          position: static;
        }

        > .spm__block__title {
          padding: 0 8px;

          a {
            padding: 8px;
          }
        }
        .spm__toggle-button,
        button.spm__toggle-button {
          display: inline-flex;
          flex: 0;
          background: transparent;
        }

        .spm__block__content {
          position: absolute;
          top: calc(100% + var(--supamenu-dropdown-distance, 0) * 1px);
          left: 0;
          min-width: var(--supamenu-classic-menu-dropdown-min-width);
          visibility: hidden;
          transform: translateY(-10px);
          opacity: 0;
          box-shadow: var(--supamenu-classic-menu-dropdown-box-shadow);
          padding: 0px 0px 2rem 0px;
          z-index: calc(var(--supamenu-z-index) - 1);
          border-radius: var(--supamenu-classic-menu-dropdown-border-radius);
          border: var(--supamenu-classic-menu-dropdown-border);
          max-height: 70vh;

          transition-delay: 0ms;
          background: var(--supamenu-classic-menu-dropdown-background);

          > .spm__list {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 70vh;
          }

          .spm__list__item {
            padding: 0;
            a {
              padding: 8px 16px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 100%;
            }

            > .spm__block {
              position: relative;
              width: 100%;
              color: inherit;
              background: var(--supamenu-background);

              > .spm__block__title {
                color: inherit;
                padding-left: 16px;
              }

              > .spm__block__content {
                max-width: 100%;
                padding: 0;
                left: 0;
                top: 100%;
                position: relative;
                transform: translateY(0);
                background: var(--supamenu-background);
                border-radius: 0px;
                height: 0;
                max-height: 0;
                transition: all 300ms ease-out;
              }

              &.spm__block--visible {
                > .spm__block__content {
                  opacity: 1;
                  visibility: visible;
                  height: auto;
                  max-height: 1000px;
                  transition: all 300ms ease-in;
                  padding: 1rem 0;
                }
              }
            }
          }
        }

        &.side-dropdowns {
          .spm__block__content {
            overflow-y: unset;
            overflow-x: unset;

            .spm__list__item {
              position: static;

              > .spm__block {
                position: static;
                width: 100%;
                color: inherit;

                .spm__toggle-button,
                button.spm__toggle-button {
                  border-top: 1px solid var(--supamenu-border-color);
                  border-bottom: 1px solid var(--supamenu-border-color);
                  background: var(--supamenu-background);

                  .spm-icon.spm-icon--triangle,
                  .spm-icon.spm-icon--chevron {
                    transform: rotate(-90deg);
                  }
                }

                > .spm__block__content {
                  max-width: 100%;

                  left: 100%;
                  top: -1px;
                  height: 100%;
                  max-height: 70vh;
                  position: absolute;
                  transform: translateY(0);
                  background: var(--supamenu-classic-menu-dropdown-background);
                  border-radius: var(
                    --supamenu-classic-menu-dropdown-border-radius
                  );
                  padding: 0 0 2rem 0;
                  transition: all 100ms ease-in-out;
                  transition-delay: 300ms;
                }

                &.spm__block--visible,
                &:hover {
                  > .spm__block__content {
                    opacity: 1;
                    visibility: visible;
                    padding: 0 0 2rem 0;
                    transition-delay: 0ms;
                  }
                }
              }
            }
          }
        }

        .spm__mega__panel {
          min-height: var(--supamenu-mega-menu-dropdown-min-height);
          width: var(--supamenu-mega-menu-dropdown-width);
          overflow-y: auto;
          margin: 0 auto;
          left: 50%;
          margin-left: calc(
            (var(--supamenu-mega-menu-dropdown-width) / 2) * -1
          );
        }

        .spm__mega__panel__content {
          padding: 16px 0;

          img {
            max-width: 100%;
            display: block;
            height: auto;
            border-radius: var(--supamenu-image-border-radius);
          }
        }

        &:hover,
        &:focus,
        &.spm__block--visible {
          &:before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: calc(var(--supamenu-dropdown-distance, 0) * 1px);
            min-width: var(--supamenu-classic-menu-dropdown-min-width);
            top: 100%;
            left: 0;
            right: 0;
          }

          > .spm__toggle-button,
          > button.spm__toggle-button,
          > .spm__block__title > .spm__toggle-button,
          > .spm__block__title > button.spm__toggle-button {
            .spm-icon {
              transform: rotate(180deg);
              transition-delay: 50ms;
            }
          }

          > .spm__block__content {
            transition: all 300ms ease;
            visibility: visible;
            transform: translateY(0);
            opacity: 1;
            transition-delay: 0ms;
          }
        }
      }
    }

    &.supamenu--sticky--bottom,
    &.supamenu--fixed--bottom {
      .spm-inner-container {
        > .spm__block {
          .spm__block__content {
            top: auto;
            bottom: calc(100% + var(--supamenu-dropdown-distance, 0) * 1px);
            transform: translateY(10px);
          }

          &:hover,
          &:focus,
          &.spm__block--visible {
            .spm__block__content {
              transform: translateY(0);
            }
          }
        }
      }
    }

    .spm__mega__panel__content {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
    }

    .spm__mega__panel__content__block {
      min-width: 220px;
      flex: 1;
    }

    .spm__mega__panel__content__block__title {
      text-transform: uppercase;
      color: color-mix(in srgb, var(--supamenu-accent-color), #92949a 60%);
      font-size: 0.775rem;
      font-weight: bold;
    }

    .spm__close-menu-button {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .supamenu--classic {
    .spm-inner-container {
      display: block;
    }

    @add-mixin off-canvas {
      display: none;
      transform: translateY(0);
      width: calc(100vw - 32px);
      min-height: unset;
      height: calc(100vh - 32px);
      padding: 40px 16px 32px 16px;
      top: 16px;
      left: 16px;
      right: 16px;
      bottom: 16px;
      box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.7);
      border-radius: var(--supamenu-classic-modal-menu-border-radius);
      animation: reveal 300ms ease;
      border-right: none;

      &.supamenu--visible {
        transform: translateY(0);
        display: block;
      }

      .spm__block__title {
        padding-left: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .spm__toggle-button,
      button.spm__toggle-button {
        justify-self: flex-end;
        margin-left: auto;
        width: 40px;
        height: 40px;
      }

      .spm__block__content {
        padding: 0 8px;

        .spm__list__item {
          > .spm__block {
            > .spm__block__title {
              width: 100%;
            }
          }
        }
      }

      .spm__close-menu-button {
        position: absolute;
        top: 8px;
        right: 16px;
        opacity: 0.7;
        transition: all 300ms ease;

        &:hover,
        &:focus-visible {
          opacity: 1;
        }
      }
    }
  }
}
