.supamenu.supamenu--modal,
.supamenu--modal {
  @add-mixin supamenu-base;

  .spm-inner-container {
    display: block;
  }

  @add-mixin off-canvas {
    display: none;
    margin: auto;
    width: var(--supamenu-modal-width);
    max-width: var(--supamenu-modal-max-width);
    min-height: unset;
    max-height: var(--supamenu-modal-max-height);
    height: var(--supamenu-modal-height);
    padding: 40px 16px 32px 16px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.8);
    border-radius: var(--supamenu-classic-modal-menu-border-radius);
    animation: reveal 300ms ease-in-out;
    border: var(--supamenu-modal-border);
    transform: translate(-50%, -50%);

    &.supamenu--visible {
      transform: translate(-50%, -50%);
      display: block;
    }

    .spm__block__title {
      padding-left: 8px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .spm__toggle-button,
    button.spm__toggle-button {
      justify-self: flex-end;
      margin-left: auto;
      width: 40px;
      height: 40px;
    }

    .spm__block__content {
      padding: 0 8px;
    }

    .spm__close-menu-button {
      position: absolute;
      top: 8px;
      right: 16px;
      opacity: 0.7;
      transition: all 300ms ease;

      &:hover,
      &:focus-visible {
        opacity: 1;
      }
    }
    &[data-theme="dark"],
    &.darkmode,
    &.supamenu--darkmode {
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}
