@define-mixin supamenu-base {
  box-sizing: border-box;
  padding: 16px;
  background-color: var(--supamenu-background);
  color: var(--supamenu-text-color);
  font-family: var(--supamenu-font-family);
  letter-spacing: 1px;
  font-size: var(--supamenu-font-size);
  font-weight: var(--supamenu-font-weight);
  line-height: 1.5;
  text-transform: var(--supamenu-text-transform);

  @add-mixin scrollbar-styles;

  * {
    @add-mixin scrollbar-styles;
  }

  a {
    color: var(--supamenu-link-color);
    padding: 0;

    &:hover {
      color: var(--supamenu-link-color-hover);
    }

    &:focus,
    &:focus-visible {
      color: var(--supamenu-link-color-focus);
    }

    &:active,
    &.active {
      color: var(--supamenu-link-color-active);
    }
  }

  p {
    display: block;
    margin: 10px 0;
  }

  /*
    First reset menu buttons
  */
  .spm__toggle-button,
  button.spm__toggle-button {
    all: unset;
  }

  /*
    Then apply focus effects on interactive elements
  */
  a,
  button,
  input,
  select,
  textarea,
  [tabindex]:not([tabindex="-1"]) {
    &:focus-visible {
      /* Draw the focus when :focus-visible is supported */
      outline: 3px solid var(--supamenu-focus-outline-color);
      outline-offset: -3px;
    }
  }

  @supports not selector(:focus-visible) {
    a,
    button,
    input,
    select,
    textarea,
    [tabindex]:not([tabindex="-1"]) {
      &:focus {
        /* Draw the focus when :focus-visible is supported */
        outline: 3px solid var(--supamenu-focus-outline-color);
        outline-offset: 0px;
      }
    }
  }

  input[type="search"] {
    &:focus {
      outline: none;
    }
  }

  /*
    Finally define buttons base styles
  */
  .spm__toggle-button,
  button.spm__toggle-button {
    box-sizing: border-box;
    border: none;
    background: var(--supamenu-toggle-button-background-color, transparent);
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 8px;
    min-height: 40px;
    cursor: pointer;
    outline-offset: -3px;

    .spm-icon {
      justify-self: flex-end;
      margin-left: auto;
      transition: all 300ms ease;
      transition-delay: 0ms;
    }

    &.visuallyhidden.focusable {
      width: 1px;
      height: 1px;
      padding: 0;
      display: inline-flex;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      min-height: 40px;
      padding: 0 8px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      a {
        color: var(--supamenu-link-color);
        transition: all 300ms ease;
        text-decoration: none;
        padding: 4px 8px;
      }
    }
  }

  .spm-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 32px);
    max-width: var(--supamenu-container-max-width);
    flex: 0 0 calc(100% - 32px);
    margin: auto;

    &.spm-grid {
      display: grid;

      &.grid-2-cols {
        grid-template-columns: repeat(2, 1fr);
      }

      &.grid-3-cols {
        grid-template-columns: repeat(3, 1fr);
      }

      &.grid-4-cols {
        grid-template-columns: repeat(4, 1fr);
      }

      &.grid-6-cols {
        grid-template-columns: repeat(6, 1fr);
      }

      &.grid-8-cols {
        grid-template-columns: repeat(8, 1fr);
      }
    }
  }

  .spm__block {
    &.spm__block--visible {
      > .spm__toggle-button,
      > button.spm__toggle-button,
      > .spm__block__title > .spm__toggle-button,
      > .spm__block__title > button.spm__toggle-button {
        .spm-icon {
          transform: rotate(180deg);
          transition-delay: 50ms;
        }
      }
    }
  }

  .spm__block__content {
    background: var(--supamenu-background);
  }
  .spm__block__title {
    font-weight: bold;
  }

  .spm-component {
    padding: 8px;
  }

  .align-right {
    justify-self: flex-end;
    margin-left: auto;
  }

  .align-left {
    justify-self: flex-start;
    margin-right: auto;
  }

  .spm-search {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 13px;
    transition: background 300ms ease;

    input {
      width: 12ch;
      border: none;
      background: transparent;
      padding: 12px 16px 12px 4px;
      -webkit-tap-highlight-color: transparent;
      transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      color: currentColor;

      &::placeholder {
        color: currentColor;
        opacity: 1;
      }

      &:focus {
        width: 20ch;
      }
    }

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .spm-search__icon {
    margin: 0 8px 0 16px;
  }

  .spm-footer {
    margin-bottom: 0;
    position: sticky;
    bottom: 0;
    top: auto;
    left: 0;
    background: var(--supamenu-background);
    z-index: calc(var(--supamenu-z-index) + 10);
    padding: 16px;
  }

  &[data-theme="dark"],
  &.darkmode,
  &.supamenu--darkmode {
    .spm-search {
      input {
        color: var(--supamenu-color-dark);

        &::placeholder {
          color: var(--supamenu-color-dark);
          opacity: 1;
        }

        &:focus {
          width: 20ch;
        }
      }

      .spm-search__icon {
        border: 2px solid var(--supamenu-color-dark);

        &:after {
          background: var(--supamenu-color-dark);
        }
      }
    }
  }

  .spm__close-menu-button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &[data-theme="dark"],
  &.darkmode,
  &.supamenu--darkmode {
    &:not(.supamenu--lightmode) {
      pre {
        filter: invert(6%);
      }

      li::marker {
        color: #666;
      }

      .spm-search {
        background: #dedadd;

        &:hover {
          background: #cac6d2;
        }
      }
    }
  }
}
